md-dialog
    div(layout="row" layout-align="end center")
        md-button(ng-click="close()")
            md-icon clear
    iframe(style="width:100%; height:700px;" ng-src="{{trustSrc(direccion)}}" frameborder="0" allowfullscreen)
